/* #region common*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Color palette */
:root{
  --dropbox-light:#ffffff;
  --dropbox-dark:#000000;
  --dropbox-bottons:#0061ff;
  --dropbox-bg-darkened:#b4d0e7;
  --dropbox-bg-light:#ffffff;
  --dropbox-cta:#A92659;
}
body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
img{
  max-width: 100%;
}
h1{
  font-size: 4rem;
}
h2{
  font-size: 2rem;
}
ul{
  list-style: none;
}
li{
  margin: 1rem 0;
}
/* #endregion*/

/* #region utilities */
/* TODO: container larger e small */
.container_largest{
  padding-left: 20px;
  padding-right: 20px;
}
.container_large{
  /* ha senso dargli tanto padding?? Che dato che largest sta su header allora viene carino se stretcho */
  width: 70%;
  margin: auto;
}
.container_small{
  width: 60%;
  margin: auto;
}
.flex_align{
  display: flex;
  align-items: center;  
}
.btn{
  background-color: var(--dropbox-bottons);
  padding: 0.5rem;
  color: white;
  /* non ho messo color var pk è un btn */
}
.gap-1rem{
  gap: 1rem;
}

.max_width{
  /* max-width: 2000px; */
  margin: auto;
  /* Però allargando comunque resta il bgcolor... */
}
.flex_aa{
  display: flex;
}
.column_text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.row{
  display: flex;
  /* margin-left: -1px; */
  /* margin-right: -1px; */
}
.col-2{
  width: calc((100%/12)*2);
  gap: 1rem;
}
.col-4{
  width: calc((100%/12)*4);
}
.col-8{
  width: calc((100%/12)*8);
}
.icon{
  text-align: center;
}
.border_lightgray{
  border: 1px solid gray;
  /* forse firstchild? */
}
.gray{
  color: gray;
}
.padding05rem{
  padding: 0.5rem;
}
.white_button{
  background-color: var(--dropbox-light);
  color: var(--dropbox-dark);
  padding: 0.5rem;
  text-align: center;
  font-size: large;
}
/* ci vanno anche bottoni e altre cose 
e.g.
.mb-2{
  margin-bottom: 2rem;
}
*/

/* #endregion */

/* #region debug*/


/* #endregion */

/* #region header*/
.header_flexbox{
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  flex-wrap: wrap;
}
/* #endregion */


/* #region main */
/* introduction */
.introduction{
  background-color: var(--dropbox-bg-darkened);
}
.introduction_text{
  width: 30%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.introduction_jumbo{
  width: 70%;
  margin-top: 1rem;
  margin-bottom: -4rem;
}

/* pricing */
.pricing{
  margin-top: 4rem;
}
.pricing_header{
  padding: 1rem;
}
.btn-pricing{
  padding: 1rem;
  text-align: center;
}
.height-pricing{
  height: 800px;
  border: 1px solid gray;
  padding: 1rem;
}
/* many_teams */
.container_many{
  margin: 5rem 0 ;
}

/* references */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.col-6{
  width: calc((100%/12)*6);
}
.references .col-6{
  padding: 2rem;
}
img{
  width: 100%;
}
.container_full{
  display: flex;
  justify-content: space-between;
}
.row{
  display: flex;
}
.debug .left{
  background-color: red;
}
.debug .center{
  background-color: blue;
}
.debug .right{
  background-color: green;
}
.left,.center,.right{
  width: calc(100%/3);
}
.center{
  padding: 2rem;
  background-color: lightgray;
}
.designit_center{
  width: 50%;
}
.border_spacer{
  width: 50px;
  border: 1px solid rgb(167, 167, 167);
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* non serve bottom per annullamento margini */
}


.uni-florida,
.topps,
.uni-asu,
.designit,
.lonely_planet,
.clear_channel,
.hearst_corp,
.world_bicycle_relief
{
  aspect-ratio: 1;
  display: flex;
  align-items: center;
}
.designit{
  background-color: greenyellow;
  border: 5px solid rgb(47, 255, 134);
}
.uni-asu{
  background-color: rgb(82, 07, 47);
}
.uni-florida{
  background-color: cyan;
}
.topps{
  background-color: rgb(255, 30, 0);
}
.world_bicycle_relief{
  background-color: red;
}
.hearst_corp{
  background-color: lightblue;
}
.lonely_planet{
  background-color: rgb(0, 0, 194);
}
.clear_channel{
  background-color: yellow;
}
.motivational{
  margin-top: 1rem;
}


/* enterprice plan */
.enterprice_header{
  text-align: center;
}
.intro-sect{
  margin: 1rem 0rem;
}
.gray_border{
  border: 1px solid gray;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.row_enterprice{
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  justify-content: space-between;
}
/* partner dropbox */
.gap_partner{
  gap: 1rem;
}
/* dropbox business */
.business_flex{
  display: flex; 
}
.img_business
/* cta */
.cta{
  background-color: var(--dropbox-bg-darkened);
}
.flex_cta{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  color: var(--dropbox-cta);
}
.cta_item{
  width: 50%;
}
/* faq */
.flex_faq{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  height: 2rem;
}
.container_faq{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.faq_header{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
/* #endregion */ 


/* #region footer*/
footer{
  background-color: var(--dropbox-dark);
  color: var(--dropbox-light);
}
.top_footer .col-2
{
  margin: 2rem 0;
}
.flex_footer{
  justify-content: space-between;
}
  /* #endregion */
